@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;800&display=swap");

:root {
  --primary-color: #4851ff;
}

@tailwind utilities;

@layer components {
  .md-container code.inline-code {
    font-size: 0.9rem;
    color: rgb(0, 153, 255);
    background-color: #161c23;
    padding: .3rem;
    border-radius: 4px;
  }
}
