@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;800&display=swap");

:root {
  --primary-color: #4851ff;
}

.anchor {
  padding-top: 100px;
  margin-top: -100px;
}

@tailwind utilities;

@layer components {
  .md-container code.inline-code {
    font-size: 0.9rem;
    padding: 0.3rem;
    border-radius: 4px;
    color: rgb(0, 153, 255);
    background-color: #f4f7fe;
  }
  html[class="dark"] .md-container code.inline-code {
    color: rgb(0, 153, 255);
    background-color: #161c23;
  }
}
